.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    max-width: 600px;

    margin: 0 auto;
    padding: 0.5% 2.5%;

    border: 1px solid;
    box-sizing: border-box;

    border-radius: 24px;
}

.button__primary {
    min-height: 54px;
    max-width: 327px;

    margin: auto;
    margin-top: 24px;

    border-radius: 100px;

    color: var(--color-primary-inverse);
    background: var(--color-primary-default);
}

.button__primary:hover {
    cursor: pointer;
}

.button__primary:disabled {
    background: var(--color-primary-disabled);
    opacity: 0.5;
    cursor: default;
}